<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR-通用版</title>
    <script src="js/vue2@2.7.14.js"></script>
    <script src="js/fetch.umd@5.3.5.min.js"></script>
    <script src="js/element-ui@2.15.13.js"></script>
    <link rel="stylesheet" href="css/element-ui@2.15.13.css"/>
    <style>
        .el-header {
            /*background-color: #B3C0D1;*/
            /*color: #333;*/
            /*text-align: center;*/
            /*line-height: 60px;*/
        }

    </style>
</head>
<body>
<div id="app">
    <div id="div-left" style="text-align: center;">
        <h3>OCR-通用版</h3>
        <el-upload
                class="upload-demo"
                drag
                action="/rest/ocr/upload"
                :show-file-list="false"
                :before-upload="handleBeforeUpload"
                :on-success="handleSuccess"
                :on-error="handleError"
                multiple>
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">尝试将任何文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">支持上传大多数文件格式，且不超过10M.</div>
            <div class="el-upload__tip" slot="tip">
            </div>
            <div class="el-upload__tip" slot="tip">主要技术支撑：<a href="https://tesseract-ocr.github.io/"
                                                                   target="_blank">Tesseract OCR</a></div>
            <div class="el-upload__tip" slot="tip">遇到问题联系开发者：郑家骜</div>
        </el-upload>

        <p></p>

        <div>
            <el-button size="small" type="warning" @click="openDialog()" v>
                查看预计支持提取的文件类型
            </el-button>
        </div>

        <div>
            <p>{{fileName}}</p>
            <el-button v-if="extractionButtonVisible" size="small" type="primary" @click="autoExtractContent()" v>
                提取内容
            </el-button>
        </div>

        <el-dialog title="预计支持提取的文件类型" :visible.sync="dialogVisible">
            <div style="text-align: left;">
                支持提取的文件类型示例：</br>
                1. 文本文件：txt、csv、xml、html、markdown等。</br>
                2. Microsoft Office文件：doc、docx、ppt、pptx、xls、xlsx等。</br>
                3. Adobe PDF文件：pdf。</br>
                4. 超文本标记语言文件：htm、html。</br>
                5. 媒体文件(暂不支持)：音频文件（mp3、wav、flac等）、视频文件（mp4、avi、mov等）。</br>
                6. 图像文件：jpg、png、gif、bmp等。</br>
                7. 归档文件：zip、tar、gzip、bzip2等。</br>
                8. CAD文件格式（如dwg、dxf）等</br>
                8. 地理空间数据格式（如shp、kml）等</br>
                8. 其他格式：包括电子书格式（如epub、mobi）、更多需要自己探索... ...</br></br>

                总结：理论上支持几百千种文件内容提取，但大多数的还未经过验证，需要自己去探索.
            </div>
        </el-dialog>

        <el-dialog title="提取结果" :visible.sync="extractResultsVisible">
            <el-button v-if="downloadResultButtonVisible" size="small" type="primary" @click="downloadResult()" v>
                下载结果 result.txt
            </el-button>
        </el-dialog>
    </div>

</div>

<script>
    let Main = {
        data() {
            return {
                extractionButtonVisible: false,
                downloadResultButtonVisible: false,
                extractResultsVisible: false,
                dialogVisible: false,
                fileName: '',
                fileId: ''
            }
        },
        mounted() {
            // 打开页面加载初始化数据
            this.initData();
        },
        methods: {
            //初始化页面数据
            initData() {

            },
            openDialog() {
                this.dialogVisible = true
            },
            handleBeforeUpload(file) {
                this.fileName = file.name;
                console.log('fileName', this.fileName);
            },
            handleSuccess(response) {
                // 处理上传成功的逻辑
                console.log('上传成功', response);
                this.extractionButtonVisible = true;
                this.downloadResultButtonVisible = false;
                this.fileId = response;
                console.log('fileId', this.fileId);
            },
            handleError(error) {
                // 处理上传失败的逻辑
                console.error('上传失败', error);
            },
            // 提取内容
            autoExtractContent() {
                const loading = this.$loading({
                    lock: true,
                    text: '正在提取内容中... ...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                fetch('./rest/ocr/general?fileId=' + this.fileId, {}).then((data) => {
                    //错误提示
                    if (data.status !== 200) {
                        loading.close();
                        this.$message.error(data.message);
                    }

                    if (data.status === 200) {
                        loading.close();
                        this.downloadResultButtonVisible = true;
                        this.extractResultsVisible = true;
                    }
                });
            },
            // 下载结果
            downloadResult() {
                /* fetch('./rest/ocr/download/result?fileId=' + this.fileId, {}).then((data) => {
                     //错误提示
                     if (data.status !== 200) {
                         this.$message.error(data.message);
                     }

                     if (data.status === 200) {
                         this.$message.info("正在下载提取结果.");
                     }
                 });*/

                fetch('./rest/ocr/download/result?fileId=' + this.fileId)
                    .then(response => response.blob())
                    .then(blob => {
                        // 创建一个临时的 URL 对象
                        const url = window.URL.createObjectURL(blob);

                        // 创建一个 <a> 元素并设置下载链接
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'result.txt'); // 设置下载的文件名

                        // 模拟用户点击链接来触发文件下载
                        link.click();

                        // 清理临时的 URL 对象
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => {
                        console.error('文件下载失败:', error);
                        this.$message.error('下载结果失败:' + error);
                    });
            },

        }
    }

    const Ctor = Vue.extend(Main);
    new Ctor().$mount('#app')
</script>
</body>
</html>