<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>OCR-PDF高精度基础版</title>
    <script src="js/vue2@2.7.14.js"></script>
    <script src="js/fetch.umd@5.3.5.min.js"></script>
    <script src="js/element-ui@2.15.13.js"></script>
    <link rel="stylesheet" href="css/element-ui@2.15.13.css"/>
    <style>
    </style>
</head>
<body>
<div id="app">
    <div id="div1" style="text-align: center;">
        <h3>OCR-PDF高精度基础版</h3>
        <el-upload
                class="upload-demo"
                drag
                action="/rest/ocr/upload"
                :show-file-list="false"
                :accept="'application/pdf'"
                :before-upload="handleBeforeUpload"
                :on-success="handleSuccess"
                :on-error="handleError"
                multiple>
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将PDF文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">仅支持上传【PDF】文件格式，且不超过10M.</div>
            <div class="el-upload__tip" slot="tip">主要技术支撑：<a href="https://www.paddlepaddle.org.cn/"
                                                                   target="_blank">PaddleOCR</a></div>
            <div class="el-upload__tip" slot="tip">遇到问题联系开发者：郑家骜</div>
        </el-upload>

        <br>
        <div v-show="showFileInfo">
            文件名称：{{fileName}} , PDF总页数：{{pdfPageCount}}
            <br> <br>
            输入页数：
            <el-input style="width: 220px;" v-model="pageNum" placeholder="输入指定页进行识别提取文本"></el-input>
            默认：0 识别提取全部页面
        </div>

        <br>
        <div>
            <el-button v-if="extractionButtonVisible" size="small" type="primary" @click="autoExtractContent()" v>
                提取内容
            </el-button>
        </div>

        <el-dialog title="提取结果" :visible.sync="extractResultsVisible">
            <el-button v-if="downloadResultButtonVisible" size="small" type="primary" @click="downloadResult()" v>
                下载结果 result.txt
            </el-button>
        </el-dialog>
    </div>

</div>

<script>
    let Main = {
        data() {
            return {
                extractionButtonVisible: false,
                downloadResultButtonVisible: false,
                extractResultsVisible: false,
                dialogVisible: false,
                showFileInfo: false,
                fileName: '',
                pdfPageCount: 0,
                pageNum: 0,
                fileId: ''
            }
        },
        mounted() {
            // 打开页面加载初始化数据
            this.initData();
        },
        methods: {
            //初始化页面数据
            initData() {

            },
            openDialog() {
                this.dialogVisible = true
            },
            handleBeforeUpload(file) {
                this.fileName = file.name;
                console.log('fileName', this.fileName);
            },
            handleSuccess(response) {
                // 处理上传成功的逻辑
                console.log('上传成功', response);
                this.extractionButtonVisible = true;
                this.downloadResultButtonVisible = false;
                this.fileId = response;
                console.log('fileId', this.fileId);

                this.getPdfPageCount();
                this.showFileInfo = true;
            },
            handleError(error) {
                // 处理上传失败的逻辑
                console.error('上传失败', error);
            },

            // 获取页数
            getPdfPageCount() {
                fetch('./rest/ocr/pages_count?fileId=' + this.fileId, {}).then(response => response.json())
                    .then(data => {
                        const pageCount = parseInt(data);
                        this.pdfPageCount = pageCount;
                        console.log('pdfPageCount=', this.pdfPageCount);
                    }).catch(error => {
                    console.error('请求出错:', error);
                });
            },

            // 提取内容
            autoExtractContent() {
                if (this.pageNum > this.pdfPageCount) {
                    this.$message.error("输入页数不能大于总页数：" + this.pageNum + ">" + this.pdfPageCount);
                    return
                }
                const loading = this.$loading({
                    lock: true,
                    text: '正在提取内容中... ...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                fetch('rest/ocr/accurate_basic?fileId=' + this.fileId + "&pageNum=" + this.pageNum, {}).then((data) => {
                    //错误提示
                    if (data.status !== 200) {
                        loading.close();
                        this.$message.error(data.message);
                    }

                    if (data.status === 200) {
                        loading.close();
                        this.downloadResultButtonVisible = true;
                        this.extractResultsVisible = true;
                    }
                });
            },
            // 下载结果
            downloadResult() {
                fetch('rest/ocr/download/result?fileId=' + this.fileId)
                    .then(response => response.blob())
                    .then(blob => {
                        // 创建一个临时的 URL 对象
                        const url = window.URL.createObjectURL(blob);

                        // 创建一个 <a> 元素并设置下载链接
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'result.txt'); // 设置下载的文件名

                        // 模拟用户点击链接来触发文件下载
                        link.click();

                        // 清理临时的 URL 对象
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => {
                        console.error('文件下载失败:', error);
                        this.$message.error('下载结果失败:' + error);
                    });
            },

        }
    }

    const Ctor = Vue.extend(Main);
    new Ctor().$mount('#app')
</script>
</body>
</html>