<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文档预览</title>
    <!-- 引入外部JavaScript文件 -->
    <!-- documentserver替换为部署环境的[IP:PORTS]或者[代理域名地址]-->
    <script type="text/javascript" src="http://192.168.159.148:8999/web-apps/apps/api/documents/api.js"></script>
</head>
<body>
<div id="placeholder"></div>

<script lang="javascript" type="text/javascript">
    var docEditor = new DocsAPI.DocEditor("placeholder", {
        "document": {
            "fileType": "docx", //文档类型
            "key": "Khirz6zTPdfd7", //定义用于服务识别文档的唯一文档标识符。每次编辑和保存文档时，都必须重新生成密钥。长度限制为128个符号。
            "title": "Example Document Title.docx", //为查看或编辑的文档定义所需的文件名，该文件名也将在下载文档时用作文件名。长度限制为128个符号。
            "url": "https://example.com/url-to-example-document.docx" //定义存储原始查看或编辑的文档的绝对URL
        },
        "documentType": "word", //文档类型
        "editorConfig": { //编辑配置
            "callbackUrl": "https://example.com/url-to-callback.ashx"
        }
    });
</script>
</body>
</html>