<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载 application*.yml 资源-->
    <context:property-placeholder location="classpath:application*.yml" ignore-unresolvable="true"/>
    <!--提供方应用名，用于计算依赖关系，不是匹配条件，不要与消费方一样-->
    <dubbo:application name="${dubbo.application.name}"/>
    <!--zk 注册中心暴露服务地址,协议：dubbo/zookeeper,group 设置zk根节点,dubbo协议缺省port端口20880，多个提供者会冲突 添加 port="${dubbo.protocol.port}-->
    <dubbo:registry address="${dubbo.registry.address}" protocol="${dubbo.registry.protocol}" group="dubbo" username="admin" password="123456"/>
    <!--dubbo 版本，超时-->
    <dubbo:provider version="${dubbo.provider.version}" timeout="50000" />
    <!--dubbo 扫描包位置-->
    <dubbo:annotation package="${dubbo.annotation.package}"/>
</beans>